body {
	background-color: #FFFFFF;
}

#contenitore {
	width: 60%;
	margin-right: auto;
	margin-left: auto;
	height: auto;
	line-height: 150%;
	border-color: #000000;
}

#contenitore header {
	width: 96%;
	padding-left: 2%;
	padding-right: 2%;
	background-color: #1B33C0;
}

#contenitore nav {
	width: 96%;
	padding-right: 2%;
	padding-left: 2%;
	background-color: #FFFFFF;
}

#contenitore nav ul {
	list-style-type: none;
}

nav ul li {
	position: relative;
	float: left;
	text-decoration: none;
	text-align: center;
}

ul li a {
	display: block;
	width: 20%;
	float: left;
	text-transform: uppercase;
	text-align: center;
	background-color: #1200FF;
	border-radius: 5px;
	color: #02FF00;
	border-style: solid;
	border-color: black;
	text-decoration: none;
}

ul li a:hover {
	background-color: #1F1D98;
	color: #00FF15;
}

ul li a:active {
	background-color: #010053;
	color: #00FF15;
}

nav ul ul {
	width: auto;
	position: absolute;
	visibility: hidden;
}

#contenitore nav ul li:hover ul {
	visibility: visible;

}

#contenitore nav ul ul li a {
	float: none;
	border-radius: 5px;
	background-color: #1200FF;
}

#contenitore nav ul ul li a:hover {
	float: none;
	border-radius: 5px;
	background-color: #1F1D98;
	color: #00FF15;
}

#contenitore nav ul ul li a:active {
	background-color: #010053;
	color: #00FF15;
}

#contenitore #contenuto {
	width: 96%;
	padding-right: 2%;
	padding-left: 2%;
	background-color: #636363;
}

.pagina_selezionata{
	background-color: #0FC52A;
	color: #0A07FC;
}
