* {
	margin: 0;
	padding: 0;
}

body{
	font-family: 'Francois One', Arial, Helvetica, sans-serif;
	background: white;
	color:#2C3E50;
}

#corpo {
	background-color: #2C3E50;
	width: 1000px;
	margin-top: 50px;
	margin-right: auto;
	margin-left: auto;
	height: auto;
	line-height: 150%;
	border-color: #000000;
}

#corpo header {
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	background: white;
}
<!--width: 96%;
	padding-right: 2%;
	padding-left: 2%;-->

#corpo nav {
	
	background-color: White;
}

header{
	margin: 40px 0;
	
}
#menu li{
	display: block;
	float: left;
	width: 150px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	text-transform: uppercase;
	color: #2C3E50;
	border-right: 1px solid #2C3E50;
	background: -webkit-linear-gradient(top, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%);
	background: -moz-linear-gradient(top, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%);
	background: -o-linear-gradient(top, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%);
	background: -ms-linear-gradient(top, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%);
}
#menu li:hover{
	cursor: pointer;
	background: -webkit-radial-gradient(center, ellipse cover, #ffffff 0%, #e5e5e5 100%);
	background: -moz-radial-gradient(center, ellipse cover, #ffffff 0%, #e5e5e5 100%);
	background: -o-radial-gradient(center, ellipse cover, #ffffff 0%, #e5e5e5 100%);
	background: -ms-radial-gradient(center, ellipse cover, #ffffff 0%, #e5e5e5 100%);
	color: slateGrey;
}
.primo{
	margin-left: 35px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}
.ultimo{
	margin-right: 35px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}
.sub-menu{
	visibility: hidden;
}
#menu li:hover .sub-menu{
	visibility: visible;
}
.sub-menu li{
	border-top: 1px dotted #2C3E50;
}
.sub-menu li:hover{
	width: 250px;
	background: -webkit-radial-gradient(center, ellipse cover, #f7fbfc 10%, #add9e4 100%);
	background: -moz-radial-gradient(center, ellipse cover, #f7fbfc 10%, #add9e4 100%);
	background: -o-radial-gradient(center, ellipse cover, #f7fbfc 10%, #add9e4 100%);
	background: -ms-radial-gradient(center, ellipse cover, #f7fbfc 10%, #add9e4 100%);
	transition: all 0.1s ease 0s;
	-webkit-transition: all 0.1s ease 0s;
	-moz-transition: all 0.1s ease 0s;
	-o-transition: all 0.1s ease 0s;
	-ms-transition: all 0.1s ease 0s;
}
.ultimo-sub{
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

}
#corpo header img {
	margin-top: 38pt;
	margin-left: 10px;
	margin-right: 10px;
	width: 90%;
	height: auto;
	background-color: white;
	border
	
}
