@charset "utf-8";
#box {
	width: 70%;
	height: auto;
	margin-top: 50px;
	margin-right: auto;
	margin-bottom: 20px;
	margin-left: auto;
	background-color: #2C3E50;	
}
#box #head {
	width: 80%;
	height: 220px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 30px;
	background-color: #FFFFFF;
}
#box #head img {
	width: auto;
	height: 200px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	
}
#box #menu {
	width: 98%;
	height: 40px;
	margin-right: auto;
	margin-left: auto;
	-webkit-box-shadow: 0px 0px 10px #000000;
	box-shadow: 0px 0px 10px #000000;
}


#box #menu ul {
	padding: 0px;
	margin: 0px;
	float:left;
}

#menu ul li {
	position: relative;
	text-align: center;
	list-style-type: none;
}

#menu li a {
	width: 100px;
	height: 30px;
	float: left;
	background-color: #0AFF00;
	text-align: center;
	border-right: 1px solid #2C3E50;
	text-decoration: none;
	display: block;
}

#menu ul li a: hover {
	cursor: pointer;
	background-color: #FF0004;
	color: #000000;
}

.primo{
	margin-left: 35px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.ultimo{
	margin-left: 35px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

#menu ul ul {
	visibility: hidden;
}

menu ul li a:hover ul {
	visibility: visible;	
}

#menu ul ul li a {
	display: block;
	border-bottom: 1px dotter #000000;
	background-color: #0AFF00;
	width: 200px;
	text-align: center;
	text-decoration: none;
	list-style-type: none;
	float: none;
}

#menu ul ul li a:hover {
	background-color: #FF0004;
}
