@charset "utf-8";
#box {
	width: 70%;
	height: 1000px;
	margin-top: 50px;
	margin-right: auto;
	margin-bottom: 20px;
	margin-left: auto;
	background-color: #2C3E50;	
}
#box #head {
	width: 80%;
	height: 220px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 50px;
	background-color: #FFFFFF;
}
#box #head img {
	width: auto;
	height: 200px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	
}
#box #menu {
	width: 98%;
	height: 40px;
	margin-right: auto;
	margin-left: auto;
	box-shadow: 0px 0px 10px #FFFFFF;
}


#box #menu ul {
	padding: 0px;
	margin: 0px;
	float:left;
}

#menu ul li {
	position: relative;
	text-align: center;
	list-style-type: none;
	display: block;
	float: left;
	width: 120px;
	height: 30px;
	line-height: 50px;
	border-right: 1px solid #000000;
	background: -webkit-linear-gradient(top, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%);
	background: -moz-linear-gradient(top, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%);
	background: -o-linear-gradient(top, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%);
	background: -ms-linear-gradient(top, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%);
}

#menu li a {
	text-align: center;
	text-transform: uppercase;
	color: #2C3E50;
	width: 100px;
	height: 30px;
	float: left;
	text-align: center;
	text-decoration: none;
	display: block;
}

#menu ul li a: hover {
	cursor: pointer;
	background-color: #FF0004;
	color: #000000;
}

.primo{
	margin-left: 2%;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.ultimo{
	margin-right: 0px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

#menu ul ul {
	visibility: hidden;
}

menu ul li a:hover ul {
	visibility: visible;	
}

#menu ul ul li a {
	display: block;
	border-bottom: 1px dotter #000000;
	background-color: #0AFF00;
	width: 200px;
	text-align: center;
	text-decoration: none;
	list-style-type: none;
	float: none;
}

#menu ul ul li a:hover {
	background-color: #FF0004;
}

#box #corpo{
	margin-top:5%;
	margin-bottom:5%;
	margin-left:5%;
	margin-right: 5%;
	box-shadow: 0px 0px 10px #FFFFFF;
	
}

#box #corpo #testo{
	text-align: center;
	padding-top:2%;
	padding-left:2%;
	padding-bottom:2%;
	padding-right:2%;
	color:white;
	
}
