body{

}
#testo{
  font:verdana;
  color:blue;
  background:#0F57F3;
  <--position:centre--!>;
  
}
#box{
	width:auto;
	border-style:inset;
	height:auto;
	margin:0 auto;
	background:#27514F;
	background-size:100%;
}
#thead{
	background:#2E14F0;
	color:#6F6D7D;
	
}
#tbody{	
	background:;
	color:;
}
