body{

}
#testo{
  font:verdana;
  padding:5pt;
  color:blue;
  background:green;
  position:centre;
  
}
#box{
  background:#387371;
  width:1000px;
  height:auto;
  margin:0 auto;
  background-size:100%;
  
}
