body{

}
#testo{
  font:verdana;
  color:white;
  background:#0F57F3;
  <--position:centre--!>;
  
}
#box{
	width:auto;
	border-style:inset;
	height:auto;
	margin:0 auto;
	background:#27514F;
	background-size:100%;
}
.thead{
	background:#2E14F0;
	color:#6F6D7D;
	
}
.tbody{	
	background:#E8E2F3;
	color:black;
}
.fr{ 
	display: inline-block;
	vertical-align: middle;
        font-size: 90%;
        text-align: center;
	
}
.fr span { 
	display: block; 
	
}
.fd { 
	padding-top: .05em;
	border-top: .125em black solid; 
	
}
